<div class="col-md-12">

    <div class="meet">
      <%= link_to("Edit", edit_meet_path(@meet), class: "btn btn-primary pull-right")%>
    </div>

    <h2><%= @meet.title %></h2>

    <p><%= @meet.description %></p>

</div>
